body {
  background-image: url(https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/17/172/172341/hero-headers-vol-one-previews-1-o.jpg?1409261154);
}
h3, p {
  color: purple;
  padding-left: 2.5em;
  padding-right: 2.5em;
  text-align: center;
}
#google, #forecast {
  float: left;
  font-size: 10%;
  font-family: sans-serif;
  color: #2C2C2C;
  color: rgba(0,0,0,0.5);
}
.grid {
  $grid-width: 100%;
  $single-unit: ($grid-width/12);

  width: $grid-width;
  max-width: 90%;
  @extend .clearfix;
  // outline: .25ex solid lightgray;
  margin: .25em auto;
  font-size: 1.5ex;
  font-family: sans-serif;
  width: 100%;
  color: red;

  section {
    width: ($single-unit*6);
    height: 360px;
    box-sizing: border-box;
    padding-right: 1em;
    padding-left: 1em;
    float: left;
    text-align: center;
  }
  .unit-1 {
    box-sizing: border-box;
    padding-right: 1em;
    padding-left: 1em;
    background: #2C2C2C;
    background: rgba(0,0,0,0.5);
    // border: .25ex solid darkgray;
    // background-color: lightgray;
  }
  #darkforecast {
    float: right;
  }
  .unit-5 {
    @extend .unit-1;
    @extend .clearfix;
    width: 100%;
    height: 360px;
    // border: 1px solid red;
    &.offset-1 {
      }

    h1 {
      text-align: center;
      font-family: century;
      color: white;
    }

    .inside {
      // outline: 1px solid white;
      width: 30%;
      height: 289px;
      float: left;
      padding: auto;
      margin: 0 1.25ex;
      color: white;

      img {
        width: 100%;
      }

      .temperature {
        font-size: 8em;
        font-weight: normal;

        a {
          text-decoration: none;
          color: white;
        }
      }

      .temp-active {
        font-size: 4.5em;
      }

      .weather-stats {
        display: none;
      }

      .daily-summary {
        display: block;
        height: 4.25em;
        font-size: 1.1em;
        text-align: center;
        padding: .5ex;
      }

      .rain-chance {
        @extend .daily-summary;
        font-style: italic;
        font-size: .75em;
      }

      .active {
        display: block;
      }
    }
  }

  .offset-1 {
    margin-left: $single-unit;
  }

  .offset-2 {
    margin-left: ($single-unit*2);
  }

  .offset-4 {
    margin-left: ($single-unit*4);
  }

}
// Sean stuff
.header-block {
  width: 100%;
  height: 5em;
  background: #2C2C2C;
  background: rgba(0,0,0,0.5);

  img {
    display: inline-block;
    padding-top: 1.25ex;
    padding-left: .5em;
  }

  h1 {
    display: inline-block;
    font-family: century;
    font-weight: 600;
    font-size: 2.5em;
    color: white;
    margin: 0;
    padding-left: 0.25em;
    vertical-align: middle;
  }
}

.footer-block {
  @extend .header-block;
  margin-top: 4.75em;

  .footer {
    line-height: 6.5em;
    font-weight: 200;
    font-size: 1.5ex;
    color: white;
    text-align: center;
    display: inline-block;
    width: 100%;

    .copyright {
      display: inline-block;
      // width: 33%;
    }

    .links {
      display: inline-block;
      // width: 33%;
    }

    #project-email {
      display: inline-block;
      margin-left: .5em;
      height: 2.5em;
      line-height: 2.5em;
      width: 6.5em;
      border: .2ex solid darkgray;
      border-radius: 5px;
      background-color: darkgray;
      text-decoration: none;
      text-align: center;
      color: rgba(0,0,0,0.5);
      font-weight: 400;
    }

    #project-email:hover {
      background-color: #86E68F;
      border: .2ex solid #86E68F;
    }

    #github-link {
      @extend #project-email;
      width: 5em;
    }
  }
}
